# Remember that Crime CSV file we used to make a webapp earlier in the semester?

## Let's import the SpatialDataFrame

In [5]:
import arcgis
from arcgis.features import GeoAccessor as ga

## We can read a feature class directly into a Dataframe

In [6]:
#Or C:\Users\greg6750\Documents\IPython Notebooks\Advanced_Python_for_GIS_and_RS\Week 9\crime_data.gdb\STL_CRIME_POINTS_CopyFeature1
sdf = ga.from_featureclass(
    r"crime_data.gdb\STL_CRIME_POINTS_CopyFeature1"
)

## Let's look at the first 5 Values in the dataframe

In [7]:
sdf.head()

,OBJECTID,Complaint,CodedMonth,DateOccur,FlagCrime,FlagUnfounded,FlagAdministrative,Count,FlagCleanup,Crime,...,ILEADSAddress,ILEADSStreet,Neighborhood,LocationName,LocationComment,CADAddress,CADStreet,XCoord,YCoord,SHAPE
0,1,16-060225,2016-11,2013-01-01 09:37:00,Y,None,None,1,None,115400,...,6111.0,MICHIGAN AVE,1,None,None,6111.0,MICHIGAN,892049.5,992992.3,"{'x': -90.24875893499996, 'y': 38.560418371000..."
1,2,16-056849,2016-11,2016-01-30 10:00:00,Y,None,None,1,None,65701,...,0.0,HORNSBY AVE / NEWBY ST,74,None,None,992.0,RIVERVIEW,895706.0,1050752.0,"{'x': -90.23538879799997, 'y': 38.718992161000..."
2,3,16-059816,2016-11,2016-02-03 00:01:00,Y,None,None,1,None,121000,...,3915.0,OLIVE ST,38,None,None,3915.0,OLIVE,894624.9,1022655.0,"{'x': -90.23945786399997, 'y': 38.641849847000..."
3,4,16-059170,2016-11,2011-02-04 00:01:00,Y,None,None,1,None,43025,...,3761.0,MERAMEC ST,16,None,None,3756.0,MERAMEC,892275.9,1001225.0,"{'x': -90.24788817199999, 'y': 38.583023065000..."
4,5,16-057345,2016-11,2010-03-07 00:01:00,Y,None,None,1,None,43026,...,3927.0,CHIPPEWA ST,15,None,None,3927.0,CHIPPEWA,890901.7,1003595.0,"{'x': -90.25267325099998, 'y': 38.589541155000..."

## Notice the Columns in the dataframe align with the attribute table of the feature class

Show this in ArcGIS Pro.

## We can export this to a CSV file

In [9]:
#change the name of this
sdf.to_csv(path_or_buf=r"test.csv")

## For this CSV to work with the webapp, the coordinates had to be in Latitude and Longitude. I had to convert that SHAPE JSON into Latitude and Longitude coordinates.

This code effectively strips out the x and y values from the JSON and puts them into new pandas dataframe columns named Lon and Lat.

In [34]:
#x = []
#y = []
for idx,val in enumerate(sdf.iterrows()):
    #print(val[1].SHAPE)
    j = val[1].SHAPE
    #x.append(j['x'])
    #y.append(j['y'])
    sdf.loc[idx,'Lon'] = j['x']
    sdf.loc[idx,'Lat'] = j['y']
    
#sdf['Lon'] = x
#sdf['Lat'] = y
sdf.head()

,OBJECTID,Complaint,CodedMonth,DateOccur,FlagCrime,FlagUnfounded,FlagAdministrative,Count,FlagCleanup,Crime,...,Neighborhood,LocationName,LocationComment,CADAddress,CADStreet,XCoord,YCoord,SHAPE,Lon,Lat
0,1,16-060225,2016-11,2013-01-01 09:37:00,Y,None,None,1,None,115400,...,1,None,None,6111.0,MICHIGAN,892049.5,992992.3,"{'x': -90.24875893499996, 'y': 38.560418371000...",-90.248759,38.560418
1,2,16-056849,2016-11,2016-01-30 10:00:00,Y,None,None,1,None,65701,...,74,None,None,992.0,RIVERVIEW,895706.0,1050752.0,"{'x': -90.23538879799997, 'y': 38.718992161000...",-90.235389,38.718992
2,3,16-059816,2016-11,2016-02-03 00:01:00,Y,None,None,1,None,121000,...,38,None,None,3915.0,OLIVE,894624.9,1022655.0,"{'x': -90.23945786399997, 'y': 38.641849847000...",-90.239458,38.641850
3,4,16-059170,2016-11,2011-02-04 00:01:00,Y,None,None,1,None,43025,...,16,None,None,3756.0,MERAMEC,892275.9,1001225.0,"{'x': -90.24788817199999, 'y': 38.583023065000...",-90.247888,38.583023
4,5,16-057345,2016-11,2010-03-07 00:01:00,Y,None,None,1,None,43026,...,15,None,None,3927.0,CHIPPEWA,890901.7,1003595.0,"{'x': -90.25267325099998, 'y': 38.589541155000...",-90.252673,38.589541

## Now I can save that dataframe to a CSV with a subset of fields

In [35]:
sdf.to_csv(
    path_or_buf=r"stl_crime_wgs_84_10282018.csv", 
    columns=['Crime', 'District', 'Neighborhood', 'ILEADSStreet', 'CADStreet', 'Lon', 'Lat']
)

## This is cool, but...